nav {
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: #0bb57b;
}

body {
    overflow-x: hidden;
}

@media screen and (min-width: 900px) {

    .nome-profissao {
        color: black;
    }

    .container-todos-os-cards {
        margin-left: 0px;
    }
}

.nome-profissao {
    position: relative;
    top: 20%;
    left: 10%;
    color: #ffffff;
}

.lista {
    position: relative;
    color: #ffffff;
    font-size: 25px;
    top: 20%;
    right: 3%;
}

.lista li {
    color: #ffffff;
    margin-left: 10px;
    display: inline-block;
    list-style: none
}

.redes-sociais:hover {
    color: #02C215;
}

#logo-github {
    position: relative;
    left: 5%;
    bottom: 1%;
    width: 90px;
}


#logo-linkedin {
    position: relative;
    left: 2%;
    bottom: 1%;
    width: 45px;
}

#logo-insta {
    position: relative;
    bottom: 0.5%;
    width: 70px;
}

#ajuste-insta {
    position: relative;
    right: 5%;
}

.conteudo {
    position: absolute;
    top: 30%;
    width: 100vw;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url(LeagueSpartan-Bold.otf) format('opentype');
}

.league {
    font-family: 'LeagueSpartan';
}


.background {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dbe0e0;
    border-radius: 10px;
    border-color: black;
}


.informacoes {
    background-color: #ffffff;
    border-radius: 5px;
}

.informacoes h3, h4 {
    text-align: center;
}

.informacoes h3 {
    color: #0bb57b;
    font-size: 50px;
    margin-bottom: 0px;
}

.informacoes p {
    height: 50px;
    margin-left: 7.5%;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.retangulo-sobre {
    position: relative;
    top: 5px;
    background-color: #0bb57b;
    border-radius: 5px;
    height: 84px;
}


.retangulo-sobre h2 {
    font-size: 15px;
    position: absolute;
    top: 8px;
    text-align: center;
    color: #ffffff;


}

#imagem-perfil {
    border-radius: 10px;
}

.textos-para-subtitulos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.cards {
    margin-right: 50px;
    margin-bottom: 50px;

}

.imagens-cards {
    margin-top: 20px;
    margin-left: 45px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.container-todos-os-cards {
    margin-left: 70px;
}

.botoes {
    margin-left: 35.5%;
}

.subtitulo-skills {
    text-align: center;
}

.container-skills {
    background-color: #dbe0e0;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.container-footer {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #0bb57b;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.container-footer h2 {
    color: #ffffff;
}

.container-footer h3 {
    color: #ffffff;
}

.main-footer {
    position: absolute;
    width: 100vw;
    top: 200px;
    left: 0px;
    margin-bottom: 0px;
}

.imagens-portifolio {
    width: 400px;
    height: 250px;

}

.portifolio-jogo {
    margin: 50px;
    display: inline-block;
    background-color: #dbe0e0;
    width: 430px;
    height: 330px;
    border-radius: 10px;
}

.botoes2 {
    text-align: center;
}

.imagens-portifolio {
    border-radius: 10px;
    margin: 20px;
    width: 250px;
    height: 150px;
}

.cards-portifolio {
    margin-left: 40px;
    margin-top: 15px
}